*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    padding: 20px;
    font-family: cursive;
    /* color: black; */
    font-weight: bolder;
}
#authStatus .btn,
#authStatus .dropdown-toggle {
    font-size: 16px;
    background-color: lightblue;
    color: black;
    border: 2px solid black;
    font-family: cursive;
}

#authStatus i {
    font-size: 20px;
}
.donate{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: orange;
    height: 50px;
    width: 100px;   
}
.carousel .carousel-inner img{
    height: 600px;
    width: 100%;
    filter: brightness(0.7);
}
.carousel .carousel-h1 h1 q{
    position: absolute;
    align-items: center;
    top: 40%;
    left: 8%;
    font-weight: 900;
    font-family: cursive;
    font-size: 60px;
    color: white;
    text-shadow: 8px 8px 10px black;
    text-align: center;
}
#healthcare{
    top: 50px;
    height: 400px;
}

.container2{
    background-color:rgba(212, 212, 212, 0.333);
    /* height: 550px; */
    width: 100%;
}
.container2 h1{
    margin: 50px;
    font-family: cursive;
    font-size: 40px;
    color: black;
    font-style: italic;
    font-weight: 900;
}
.container2 p{
    margin: 50px;
    font-family: cursive;
    color: black;
    font-size: 20px;
}
.container2 ol{
    margin: 50px;
    font-family: cursive;
    color: black;
    font-size: 20px;
}

.donateedu{
    height: 200px;
    width: 100%;
    /* background-color: plum; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.donateedu button{
    height: 50px;
    width: 230px; 
    background-color: orange;
    font-size: 20px;
    font-weight: 700;
    color: black;
    font-style: italic;
    font-family: cursive;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
.donateedu button:hover{
    background-color: #2ecc71;
}
.donateedu .content{
    /* width: 500px; */
    padding: 10px;
    color: black;
    font-family: cursive;
}