
#authStatus .btn,
#authStatus .dropdown-toggle {
    font-size: 16px;
    background-color: lightblue;
    color: black;
    border: 2px solid black;
    font-family: cursive;
}

#authStatus i {
    font-size: 20px;
}
.donate{
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: orange;
    height: 50px;
    width: 100px;   
}